.result-container {
	background-color: var(--bg-color);
	border: 12px solid var(--bg-color);
	filter: var(--filter2);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	height: 60px;
	width: 100%;
	margin-bottom: 35px;
}

textarea {
	background: none;
	border: none;
	color: var(--color);
	font-size: 20px;
	margin-top: auto;
	outline: none;
	resize: none;
}
